include base
  .container
    h3= pageTitle
    p= message

    if sighting
      form(action="/sighting/" + sighting.id + "/delete", method="post")
        input(type="hidden", name="id", value=sighting.id)

        .btn-toolbar
          a.btn.btn-warning(href="/sighting/" + sighting.id) Cancel
          button.btn.btn-danger(type="submit") Delete
