include base
  .container
    h3= pageTitle
    p= message

    p
      each message in messages
        .line
          strong= message
          
    if species
      table.table
        tbody
          each duck in species
            tr
              td= duck.name
